HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
**/*.properties

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Misc ###
.jpg
.png
.gif
.ico
.jar
.war
.ear
.zip
.tar.gz
.7z
.rar
.gz
.tar
.class
.exe
.dll
.so
.o
.obj
.lib
.a
.dylib
.pyc
.pyo
.pyd
.pth
**/*.pth